img{
    width:1000px;
    height:400px;
    object-fit: cover;
    left:0;
    right:0;
    margin-left:0;
    margin-right:0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display:flex;
    justify-content: center;
    align-items: center;
}
.overlay{
  position: absolute;
  
  background: rgba(0,0,0,0.6);
  width:100%;
  height:400px;
  display:flex;
  justify-content: center;
  align-items: center;
}
.banner-div{
    border:2px red solid;
    position:relative;
}
#banner-title{
    color:white;
}